.App {
  text-align: center;
} */
body{
  overflow-x: hidden;
}

.footer-custom ul li{
  list-style: none;
}

/* when someone hover on images in mini tv component */
.mini-tv img:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
/* miniTv image css */
.mini-tv img {
 border-radius: 20px;
}

/* when someone hover on images in fresh1 component */
.fresh1 img:hover{
  cursor: pointer;
  transform: translateY(-5px);
}
/* fresh1 image css */
.fresh1 img {
  border-radius: 20px;
}

/* when someone hover on images in electronics1 component */
.electronics1 img:hover{
  cursor: pointer;
  transform: translateY(-5px);
}
/* electronics1 image css */
.electronics1 img {
  border-radius: 20px;
 }

/* CarouselPage css*/
.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.video-container {
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.video.playing {
  visibility: visible;
}

/* styles.css */
.rounded-video {
  border-radius: 20px;
  margin-bottom: 40px;
}

/* styles.css */
.movie-title {
  font-size: 30px;
  color: #333;
  margin-top: -30px;
  margin-bottom : 40px;
  text-align: center;
}


